@import "../../assets/styles/constants.scss";

.login-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 3rem;
  max-width: 30rem;
  margin: auto;
  height: 100vh;
}

.login-wrapper__title {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  color: $grey-darkest;
}

.login-wrapper__field {
  margin-bottom: 1.5rem;
  width: 100%;
}
.login-wrapper__label {
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: $grey-darker;
  font-size: 0.75rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.login-wrapper__input {
  display: block;
  font-size: 0.875rem;
  font-family: inherit;
  color: $grey-darker;
  background: $grey-lighter;
  border: 1px solid $grey-lighter;
  border-radius: 5px;
  padding: 0.75rem 1rem;
  line-height: 1.25;
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  box-sizing: border-box;

  &:focus {
    outline: none;
    background-color: $white;
    border-color: $grey;
  }
}

.login-wrapper__submit {
  font-family: inherit;
  font-weight: 700;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  background-color: $blue;
  color: $white;
  border: none;
  transition: $default-transition;

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: $blue-dark;
  }
}

.login-wrapper__terms {
  margin-left: 0.5rem;
  color: $grey-darker;
}

.danger {
  display: flex;
  background-color: $red-lightest;
  color: $red-darker;
  font-size: 0.8rem;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border-left: 4px solid $red-dark;
}

.warning {
  display: flex;
  background-color: $yellow-lightest;
  color: $yellow-darker;
  font-size: 0.8rem;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border-left: 4px solid $yellow-dark;
}